<!--<div [@openCloseMenu]="isMenuOpen ? 'open' : 'closed'" style="z-index: 2;position:absolute;">

    <div class="d-flex flex-column align-items-center" style="width: 100vw;">
      <div class="p-2">
        <button type="button" class="btn bg-secondario btn-outline-dark btn-lg">Tests</button>
      </div>
      <div class="p-2">
        <button type="button" class="btn bg-secondario btn-outline-dark btn-lg" [routerLink]="'/openClose'">Results</button>
      </div>
    </div>
  </div>
<div [@openClosePagina]="!isMenuOpen ? 'open' : 'closed'" class="bg-primario origin-tweak" style="height: 100vh;">
  <button class="btn bg-secondario btn-outline-dark" (click)="openMenu()"></button>
  <router-outlet #o="outlet" (activate)="closeMenu()" ></router-outlet>
</div>-->
<div id="perspective" class="perspective effect-laydown" [ngClass]="isMenuOpen ? 'modalview animate' : ''">
  <div class="contenitore" (click)="isMenuOpen ? closeMenu() : undefined">
    <div class="wrapper"><!-- wrapper needed for scroll -->
      <app-top-bar (openMenuEmitter)="openMenu()"></app-top-bar>
      <div class="p-5">
        <router-outlet></router-outlet>
      </div>
    </div><!-- wrapper -->
  </div><!-- /container -->
  <div class="d-flex w-100 justify-content-center" *ngIf="isMenuOpen">
    <nav class="outer-nav top">
      <a class="btn btn-info" [routerLink]="''" (click)="closeMenu()"><i class="fa fa-bars"></i> Home</a>
      <a class="btn btn-info" [routerLink]="urlModuleTest" (click)="closeMenu()"><i class="fa fa-bars"></i> Tests</a>
    </nav>
  </div>
</div><!-- /perspective -->
