<form #bigFiveAnswers="ngForm" (ngSubmit)="onSubmit(bigFiveAnswers)">


  <div class="d-flex w-100 justify-content-center">
    <div class="d-flex flex-column w-50">

      <div class="alert alert-secondary">
        The following statements concern your perception about yourself in a variety of situations.
        Your task is to indicate the strength of your agreement with each statement,
        utilizing a scale in which 1 denotes strong disagreement,
        7 denotes strong agreement, and 2, 3, 4, 5 and 6 represent intermediate judgments. In the boxes after each
        statement, click a number from 1 to 7 from the following scale:
      </div>
      <div class="alert alert-info">
        There are no "right" or "wrong" answers, so select the number that most closely reflects you on each statement.
        Take your time and consider each statement carefully. Once you have completed all questions click "Submit" at
        the bottom.
      </div>
    </div>
  </div>
  <div class="d-flex w-100 justify-content-center">
    <div class="d-flex flex-column">

      <span class="badge badge-dark">Creativo</span>
      <div class="p-2">
        <span class="badge badge-danger mr-1">Disapprovo</span>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="creativo" [(ngModel)]="creativo">
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="1"> 1
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="2"> 2
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="3"> 3
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="4"> 4
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="5"> 5
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="6"> 6
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="7"> 7
          </label>
        </div>
        <span class="badge badge-success ml-1">Approvo</span>
      </div>

      <hr class="w-100">

      <span class="badge badge-dark">Fantasioso</span>
      <div class="p-2">
        <span class="badge badge-danger mr-1">Disapprovo</span>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="fantasioso" [(ngModel)]="fantasioso">
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="1"> 1
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="2"> 2
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="3"> 3
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="4"> 4
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="5"> 5
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="6"> 6
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="7"> 7
          </label>
        </div>
        <span class="badge badge-success ml-1">Approvo</span>
      </div>

      <hr class="w-100">

      <span class="badge badge-dark">Originale</span>
      <div class="p-2">
        <span class="badge badge-danger mr-1">Disapprovo</span>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="originale" [(ngModel)]="originale">
          <label ngbButtonLabel class="btn-danger">
            <input ngbButton type="radio" [value]="1"> 1
          </label>
          <label ngbButtonLabel class="btn-danger">
            <input ngbButton type="radio" [value]="2"> 2
          </label>
          <label ngbButtonLabel class="btn-danger">
            <input ngbButton type="radio" [value]="3"> 3
          </label>
          <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" [value]="4"> 4
          </label>
          <label ngbButtonLabel class="btn-success">
            <input ngbButton type="radio" [value]="5"> 5
          </label>
          <label ngbButtonLabel class="btn-success">
            <input ngbButton type="radio" [value]="6"> 6
          </label>
          <label ngbButtonLabel class="btn-success">
            <input ngbButton type="radio" [value]="7"> 7
          </label>
        </div>
        <span class="badge badge-success ml-1">Approvo</span>
      </div>

      <hr class="w-100">

      <span class="badge badge-dark">Preciso</span>
      <div class="p-2">
        <span class="badge badge-danger mr-1">Disapprovo</span>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="preciso" [(ngModel)]="preciso">
          <label ngbButtonLabel class="btn-outline-danger">
            <input ngbButton type="radio" [value]="1"> 1
          </label>
          <label ngbButtonLabel class="btn-outline-danger">
            <input ngbButton type="radio" [value]="2"> 2
          </label>
          <label ngbButtonLabel class="btn-outline-danger">
            <input ngbButton type="radio" [value]="3"> 3
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="4"> 4
          </label>
          <label ngbButtonLabel class="btn-outline-success">
            <input ngbButton type="radio" [value]="5"> 5
          </label>
          <label ngbButtonLabel class="btn-outline-success">
            <input ngbButton type="radio" [value]="6"> 6
          </label>
          <label ngbButtonLabel class="btn-outline-success">
            <input ngbButton type="radio" [value]="7"> 7
          </label>
        </div>
        <span class="badge badge-success ml-1">Approvo</span>
      </div>

      <hr class="w-100">

      <span class="badge badge-dark">Ordinato</span>
      <div class="p-2">
        <span class="badge badge-danger mr-1">Disapprovo</span>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="ordinato" [(ngModel)]="ordinato">
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="1"> 1
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="2"> 2
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="3"> 3
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="4"> 4
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="5"> 5
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="6"> 6
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="7"> 7
          </label>
        </div>
        <span class="badge badge-success ml-1">Approvo</span>
      </div>

      <hr class="w-100">

      <span class="badge badge-dark">Diligente</span>
      <div class="p-2">
        <span class="badge badge-danger mr-1">Disapprovo</span>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="diligente" [(ngModel)]="diligente">
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="1"> 1
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="2"> 2
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="3"> 3
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="4"> 4
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="5"> 5
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="6"> 6
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="7"> 7
          </label>
        </div>
        <span class="badge badge-success ml-1">Approvo</span>
      </div>

      <hr class="w-100">

      <span class="badge badge-dark">Estroverso</span>
      <div class="p-2">
        <span class="badge badge-danger mr-1">Disapprovo</span>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="estroverso" [(ngModel)]="estroverso">
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="1"> 1
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="2"> 2
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="3"> 3
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="4"> 4
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="5"> 5
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="6"> 6
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="7"> 7
          </label>
        </div>
        <span class="badge badge-success ml-1">Approvo</span>
      </div>

      <hr class="w-100">

      <span class="badge badge-dark">Espansivo</span>
      <div class="p-2">
        <span class="badge badge-danger mr-1">Disapprovo</span>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="espansivo" [(ngModel)]="espansivo">
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="1"> 1
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="2"> 2
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="3"> 3
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="4"> 4
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="5"> 5
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="6"> 6
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="7"> 7
          </label>
        </div>
        <span class="badge badge-success ml-1">Approvo</span>
      </div>

      <hr class="w-100">

      <span class="badge badge-dark">Chiuso</span>
      <div class="p-2">
        <span class="badge badge-danger mr-1">Disapprovo</span>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="chiuso" [(ngModel)]="chiuso">
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="1"> 1
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="2"> 2
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="3"> 3
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="4"> 4
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="5"> 5
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="6"> 6
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="7"> 7
          </label>
        </div>
        <span class="badge badge-success ml-1">Approvo</span>
      </div>

      <hr class="w-100">

      <span class="badge badge-dark">Altruista</span>
      <div class="p-2">
        <span class="badge badge-danger mr-1">Disapprovo</span>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="altruista" [(ngModel)]="altruista">
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="1"> 1
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="2"> 2
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="3"> 3
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="4"> 4
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="5"> 5
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="6"> 6
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="7"> 7
          </label>
        </div>
        <span class="badge badge-success ml-1">Approvo</span>
      </div>

      <hr class="w-100">

      <span class="badge badge-dark">Disponibile</span>
      <div class="p-2">
        <span class="badge badge-danger mr-1">Disapprovo</span>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="disponibile" [(ngModel)]="disponibile">
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="1"> 1
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="2"> 2
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="3"> 3
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="4"> 4
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="5"> 5
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="6"> 6
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="7"> 7
          </label>
        </div>
        <span class="badge badge-success ml-1">Approvo</span>
      </div>

      <hr class="w-100">

      <span class="badge badge-dark">Generoso</span>
      <div class="p-2">
        <span class="badge badge-danger mr-1">Disapprovo</span>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="generoso" [(ngModel)]="generoso">
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="1"> 1
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="2"> 2
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="3"> 3
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="4"> 4
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="5"> 5
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="6"> 6
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="7"> 7
          </label>
        </div>
        <span class="badge badge-success ml-1">Approvo</span>
      </div>

      <hr class="w-100">

      <span class="badge badge-dark">Emotivo</span>
      <div class="p-2">
        <span class="badge badge-danger mr-1">Disapprovo</span>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="emotivo" [(ngModel)]="emotivo">
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="1"> 1
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="2"> 2
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="3"> 3
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="4"> 4
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="5"> 5
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="6"> 6
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="7"> 7
          </label>
        </div>
        <span class="badge badge-success ml-1">Approvo</span>
      </div>

      <hr class="w-100">

      <span class="badge badge-dark">Ansioso</span>
      <div class="p-2">
        <span class="badge badge-danger mr-1">Disapprovo</span>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="ansioso" [(ngModel)]="ansioso">
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="1"> 1
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="2"> 2
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="3"> 3
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="4"> 4
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="5"> 5
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="6"> 6
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="7"> 7
          </label>
        </div>
        <span class="badge badge-success ml-1">Approvo</span>
      </div>

      <hr class="w-100">

      <span class="badge badge-dark">Nervoso</span>
      <div class="p-2">
        <span class="badge badge-danger mr-1">Disapprovo</span>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="nervoso" [(ngModel)]="nervoso">
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="1"> 1
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="2"> 2
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="3"> 3
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="4"> 4
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="5"> 5
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="6"> 6
          </label>
          <label ngbButtonLabel class="btn-outline-info">
            <input ngbButton type="radio" [value]="7"> 7
          </label>
        </div>
        <span class="badge badge-success ml-1">Approvo</span>
      </div>

      <hr class="w-100">
    </div>
  </div>

  <div class="d-flex w-100 justify-content-center">
    <div class="d-flex flex-column w-25">
      {{bigFiveAnswers.value | json}}
      <button class="btn btn-info" type="submit" [disabled]="!bigFiveAnswers.form.valid">
        Submit
      </button>
    </div>
  </div>

</form>
